.footerr {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #777;
}

.red-bg {
    margin: 20px 0;
    color: #ffffff;
    background-color: red;
}

.suka-django {
    background-color: yellow;
}