{% extends 'base.html' %}



{% block content %}
    {% load staticfiles %}
    {% load static %}
    <img src="{% static 'apple-tv.jpg' %}" alt="" class="img-responsive">



    <div class="container suka-django">
        <div class="jumbotron">
          <h1>Добро пожаловать в наш интернет-магазин!</h1>
          <p>Только у нас вы сможете приобрести широкий спектр техники</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Перейти к покупкам</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">

{#            <ul class="list-unstyled">#}
{#                {% for product in products %}#}
{#                    Название продукта: {{  product.item_name }}#}
{#                    <li class="col-md-4">#}
{#                        <a href="#" class="thumbnail">#}
{#                          <img src="{% static 'img/apple-tv.jpg' %}" alt="...">#}
{#                        </a>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}

        </div>
    </div>

{% endblock  %}






