<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello, bitch</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    Look at this form!

    <button class="btn btn-warning">Warn!</button>

    <form action="" method="post"> {% csrf_token %}
         {{ form.as_p }}
         <button type="submit">Отправить</button>
    </form>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>
